/* our-story */
.our-story {
    width: auto;
    height: 744px;
    background-image: url(/Fizzora/img/bigscrin.jpg);
    background-size: cover;
    background-position: center;
}
.our-story__info {
    padding: 115px 0px 0px 77px;
    max-width: 400px;
}
.our-story__title {
}
.our-story__text {
    font-size: 64px;
    padding-bottom: 28px;
}
.our-story__button {
}
.button {
}

/* explore */
.explore {
    width: 100%;
    
}
.explore__wrapper {
    display: flex;
    flex: 1 1 33.333%;
    width: 100%;
    margin-top: 120px;
    padding: 18px;
    height: auto;
    justify-content: space-between;
    gap: 20px;
}

.explore-column {
    flex: 1 1 33.333%;
    aspect-ratio: 2/3;
}

.explore__img {
    background-size: cover;
    color: #fff;
    padding: 20px;
}
.explore__info {
    padding-left: 58px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}
@media screen and (min-width: 750px){
    .explore__info_title {
        font-size: 24px;
    }
    .explore__info_list {
        font-size: 18px;
    }
    
}
.explore__info_title {
    font-size: 34px;
    flex: 1 0 auto;
    font-weight: 600;
}


.explore__info_list {
    font-size: 24px; /* calc(18px + (6 + 6*0.5)*((100vh - 600px)/1366)) */
}

@media screen and (max-width: 750px){
    .explore__info_title {
        font-size: 24px;
    }
    .explore__info_list {
        font-size: 18px;
    }
}

.explore__info_list ul:hover {
    font-weight: 600;
}

.explore__img {
    background-size: cover;
    color: #fff;
    padding: 20px;
}

.explore__img1 {
    background-image: url(/Fizzora/img/explore1.jpg);   
    display: flex;
    flex-direction: column;
}
.explore__img1_title {
    padding-bottom: 20px;
    font-size: 24px;
    padding-right: 50%;
}

.explore__img1_button {
}
.explore__img2 {
    background-image: url(/Fizzora/img/explore2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.explore__img2_title {
    padding-bottom: 20px;
    display: flex;
    font-size: 24px;
    padding-right: 50%;
}
.explore__img2_button {
}

/* wineglasses */

.wineglass {
    padding-top: 102px;
}
.wineglass__container {
    display: flex;
}
.wineglass__left {
    flex: 50%;
}
.c2__text-style {
}
.wineglass__left-img {
    
}
.img-wineglass__left {
    min-width: 100%;
    max-width: 100%;
}
.wineglass__left-info {
    margin: 5% 9% 5% 9%;  
    font-size: 16px;
}

.title-wineglass__left {
}
.title {
}
.text-wineglass__left {
    margin: 5% 0px 5% 0px;
}
.button-wineglass__left {
}
.button {
}
.wineglass__right {
    flex: 50%;
    padding-left: 9%;
    
}
.wineglass__right-info {
    margin: 5% 9% 5% 9%; 
}
.title-wineglass__right {

}
.text-wineglass__right {
    margin: 5% 0px 5% 0px;
}
.button-wineglass__right {
}
.wineglass__right-img {
}
.img-wineglass__right {
    min-width: 100%;
    max-width: 100%;
}
 
/* NEW ARRIVALS */

.arrivals {
    margin-top: 80px;
}
.arrivals__container {

}
.arrivals__title {
    margin: 25px;
}

.arrivals__grid-product {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #d9d9d9;
    
}
.arrivals__product1 {
}
.arrivals__product {
    box-shadow: 0px 0px 0px 1px #DCDCDC;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 25%;
}
.img-arrivals__product {
    max-width: 100%;
    max-width: 100%;  /* Запобігає виходу за межі контейнера */
    height: auto;      /* Зберігає пропорції */
    object-fit: cover; /* Обрізає картинку під розміри блоку */
}
.name-arrivals__product {
    padding: 21px 10px 11px 10px;
}
.arrivals__product2 {
}
.arrivals__product3 {
}
.arrivals__product4 {
}
.arrivals__product5 {
}
.arrivals__product6 {
}
.arrivals__product7 {
}
.arrivals__product8 {
}

/* collection */

.collection {
    margin-top: 120px;
}
.collection__container {
    display: flex;
}
.collection__left {
    flex: 50%;
}
.c2__text-style {
}
.collection__left-img {
    
}
.img-collection__left {
    min-width: 100%;
    max-width: 100%;
}
.collection__left-info {
    margin: 5% 9% 5% 9%;  
    font-size: 16px;
}

.title-collection__left {
}
.title {
}
.text-collection__left {
    margin: 5% 0px 5% 0px;
}
.button-collection__left {
}
.button {
}
.collection__right {
    flex: 50%;
    padding-left: 9%;
    
}
.collection__right-info {
    margin: 5% 9% 5% 9%; 
}
.title-collection__right {

}
.text-collection__right {
    margin: 5% 0px 5% 0px;
}
.button-collection__right {
}
.collection__right-img {
}
.img-collection__right {
    min-width: 100%;
    max-width: 100%;
}

/* stories */

.stories {
}
.stories__contaier {
}
.stories__title {
    margin: 79px 0px 20px 20px;
}
.stories__grid {
    display: flex;
    overflow-x: scroll;
}

.stories__grid-item {
    border: 1px solid #d9d9d9;
    flex: 0 0 25%;
    aspect-ratio: 1/2.222;
    display: flex;
    flex-direction: column;
    padding: 18px;
}
.stories__grid-item img{
    width: 100%;
    min-width: 173px;
    min-height: 224px;
    object-fit: cover;
    aspect-ratio: 2/3;
}

.img-stories__grid-item {
    
}
.title-stories__grid-item {
    font-size: 24px;
    flex: 1 0 auto;
    margin-top: 15px;
}
.subtitle-stories__grid-item {
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}
.text-stories__grid-item {
}

.stories__link {
    display: none;
    letter-spacing: 0.15px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 16px;
}

/* footer */

footer {
    background-color: #F3F1E6;
}
.footer__container {
    margin: 0 auto;
    display: flex;
    padding: 0px 0px 75px 95px;
    width: 100%;
    min-width: 151px;
    flex-wrap: wrap;
}
.footer__container li:first-child {
    padding: 30px 0px 15px 0px;
    font-weight: 700;
    line-height: 24px;
}

.footer__container li {
    line-height: 20px;
    font-family: Noto Sans;
}

.footer__container div {
    flex: 1 1 25%;
    min-width: 151px;
    flex-wrap: wrap;
}
.footer__container ul:first-child {
    font-family: Mulish;
    font-weight: 500;
}

.footer__container li:first-child {
    font-weight: 600;
}
.footer__column2 {
    
}
.footer__column3 {

}

.footer__column4 {

}