@import url("reset.css");
@import url("main.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@200..1000&family=Noto+Sans&display=swap');
@import url("header.css");

body {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    min-width: 100vh;
}

.wrapper {
    min-width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ps-title {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 40px;
    font-weight: 600;
}

.tablet-title {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.21px;
    line-height: 35px;
    font-weight: 600;
}


.white {
    color: #fff;
}

.button {
    background-color: #00000000;

    padding: 10px 27px 10px 27px;

    border: 1px solid;

}

.button:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

@media screen and (max-aspect-ratio: 5/3) {
    
}



/* c2(columns) */

.c2__text-style {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
} 

/* brakepoints ========================================= */


@media screen and (max-width:600px) {
    .header__contact {
        display: none;
    }
    .header__menu {
        justify-content: end;
    }

    /* explore */

    .explore__wrapper {
        overflow-y: scroll;
    }
    .explore-column {
        flex: 0 0 43.1%;
        aspect-ratio: 2/3;
    }

    /* collection */

    .collection__right {
        margin: 40px 33px 0px 66px;
    }
    .collection__container {
        display: flex;
        flex-direction: column;
    }
    .collection__container div {
        flex: 100%;
    }

/*     wineglasse */

    .wineglass__right {
        padding: 40px 0px 66px 66px;
        order: 0;
    }
    .wineglass__container {
        display: flex;
        flex-direction: column;
    }
    .wineglass__container div {
        flex: 100%;
    }
    .wineglass__left {
        padding-right: 114px;
        order: 1;
    }

    /* NEW ARRIVALS */

    .arrivals__product {
        box-shadow: 0px 0px 0px 1px #DCDCDC;
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex: 0 0 43.1%;
    }
    .arrivals__grid-product {
        display: flex;
        flex-wrap: nowrap;
        border: 2px solid #d9d9d9;
        overflow-x: scroll;
    }
    /* stories */

    .stories__link {
        display: inline-block;
        letter-spacing: 0.15px;
        padding-top: 15px;
        font-weight: 500;
        font-size: 16px;
    }
    .stories__grid-item {
        flex: 0 0 43.1%;
    }
}

